<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">¡Hola! Me llamo Fernando Mateo VAGO GRECCO y soy un estudiante de séptimo año en el Colegio INSTITUTO TECNICO SALESIANO Villada, donde estoy especializándome en electromecánica. Con mis 18 años, tengo una sed insaciable de conocimiento y un entusiasmo contagioso por aprender y descubrir nuevas cosas.
                Me considero una persona carismática y extrovertida, siempre dispuesta a entablar nuevas amistades y compartir experiencias con los demás. Tengo una pasión desbordante por los animales, los autos y la tecnología.
                Mi curiosidad por el comportamiento humano y mi deseo de comprender cómo funciona el mundo me impulsan siempre a buscar respuestas. Ya sea investigando la psicología detrás de las decisiones humanas, explorando los avances tecnológicos que moldean nuestro futuro 
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">o sumergiéndome en el estudio de la mecánica de los motores. Siempre estoy buscando nuevas formas de expandir mi conocimiento y comprensión del mundo que me rodea.
                Cuando no estoy inmerso en mis estudios, me encanta pasar tiempo al aire libre, disfrutando de la naturaleza y la tranquilidad que ofrece. También me gusta pasar tiempo con mis amigos y familia.
                Estoy emocionado por lo que el futuro me depara y estoy comprometido a seguir aprendiendo, creciendo y contribuyendo de manera positiva a mi comunidad y al mundo en general. Siempre estoy abierto a nuevas oportunidades y experiencias, ¡así que no dudes en conectarte conmigo si quieres compartir ideas o explorar nuevos intereses juntos!
                ¡Gracias por tomarte el tiempo para conocer un poco más sobre mí!</p>
            </div>
        </div>
    </div>
</section>