{% extends 'core/base.html' %}

{% block content %}

<div class="container" style="margin-top: 150px">
    <p class="fs-5 fst-italic text-center">¿Confirma eliminar "{{ object.titulo }}"?</p>
    <div class="text-center">
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar</button>
        </form>
        <a href="{% url 'servicio:contratar_servicio_list' %}" class="btn btn-secondary ms-2">Volver</a>
    </div>
</div>

{% endblock content %}
