{% extends 'core/base.html' %}

{% block content %}
<div style="overflow-y: auto; padding: 20px;">
    <h1 class="text-center">Propuestas Laborales</h1>
    <div class="container mt-5">
        <form action="{% url 'servicio:contratar_servicio_list' %}" method="get" class="input-group">
            <input type="text" name="busqueda" class="form-control" placeholder="Buscar...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
            {% for object in object_list %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.titulo }}</h5>
                        <p>Creado por: {{ object.usuario.username }}</p>
                        <a href="{% url 'servicio:contratar_servicio_detail' object.id %}" class="btn btn-info btn-sm">Mas Informacion</a>
                        {% if object.usuario == request.user %}
                            <a href="{% url 'servicio:contratar_servicio_update' object.id %}" class="btn btn-info btn-sm">Cambiar</a>
                            <a href="{% url 'servicio:contratar_servicio_delete' object.id %}" class="btn btn-info btn-sm">Eliminar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'servicio:index' %}" class="btn btn-secondary mb-4">Volver</a>
    </div>
</div>
{% endblock content %}

