<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Titulo: {{ object.titulo }}</li>
        <li>Descripción: {{ object.descripcion }}</li>
        <li>precio: {{ object.precio}}</li>
        <li>Disponible Desde: {{ object.disponible_desde }}</li>
        <li>Disponible Hasta: {{ object.disponible_hasta }}</li>
        <li>Fecha de Publicacion: {{ object.fecha_publicacion }}</li>
    </ul>
    <div>
        <a href="{% url 'servicio:ofrecer_servicio_list' %}">Volver</a>
    </div>
</body>
</html>