{% extends 'core/base.html' %}

{% block content %}
<div class="page-section d-flex justify-content-center align-items-center mt-5">
    <form method="post" class="row justify-content-center">
        {% csrf_token %}
        <div class="col-lg-8 col-xl-7">
            <!-- Nombre de usuario -->
            <div class="form-group mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <!-- Contraseña -->
            <div class="form-group mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <input type="hidden" name="next" value="{% url 'core:index' %}">
            <!-- Botones -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                <a href="{% url 'core:index' %}" class="btn btn-secondary btn-block">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}




